@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400&display=swap');
:root{


  --BrandColor:rgb(0, 76, 148);
  --TextColor:#444444;
--BackgroundColor:#F6F8F8;
  --AccentColor:#F96868;
  --AccentColor2:#13232C;
--AccentColor3:rgb(9, 73, 109);
  --HeadingColor:#2F3C40;

  --barColor:#24136D;

  --HeadFont: 'Poppins', sans-serif;

  --HeadFont2: 'Big Shoulders Text', cursive;

  --TextFont:'Roboto Slab', sans-serif;

}
body{
  overflow-x: hidden;
}

html {
  font-size: 1rem;
}


